name: Deploy Backend on Push to Main

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted]

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Generate .env
        run: |
          echo $BASE64_ENCODED_DOTENV | base64 -d > .env
        env:
            BASE64_ENCODED_DOTENV: ${{ secrets.BASE64_ENCODED_DOTENV }}

      - name: Get pyproject version
        run: |
          version=$(grep -Po '(?<=^version = ").*(?="$)' pyproject.toml)
          echo "DOCKER_VERSION=$version" >> $GITHUB_ENV

      - name: Build Docker image
        run: docker build -f Dockerfile.production -t socialnet-backend:$DOCKER_VERSION .

      - name: Tag Latest Version
        run: docker image tag socialnet-backend:$DOCKER_VERSION socialnet-backend:latest

      - name: Deploy Backend Container
        run: VERSION=$DOCKER_VERSION docker compose -f ~/stack/backend/docker-compose.yaml up -d
